<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ensayo Carga</title>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://kit.fontawesome.com/460146b1b8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/carga.css">
    <link rel="icon" type="image/png" href="/assets/icon.png">
</head>
<body>
    <button class="hamburger" aria-label="Abrir menú" tabindex="0">
        <i class="fas fa-bars"></i>
    </button>
    <aside class="sidebar">

        <img src="/assets/dragompfp.jpg" class="sideB_image" alt="">
        <h1 class="drone">UAV-DRAGOM</h1>

        <div class="sideplace" id="auto">
            <i class="ph ph-speedometer"></i>
            <a href="/views/auto.html" class="side_item">Autonomia</a>
        </div>
        <div class="sideplace" id="alcance">
            <i class="ph ph-ruler"></i>
            <a href="/views/alcance.html" class="side_item">Alcance</a>
        </div>
        <div class="sideplace now" id="carga">
            <i class="ph ph-crosshair"></i>
            <a href="/views/carga.html" class="side_item">Carga util</a>
        </div>
        <div class="sideplace" id="video">
            <i class="ph ph-video"></i>
            <a href="/views/video.html" class="side_item">Trans video</a>
        </div>
        <div class="sideplace" id="report">
            <i class="ph ph-file-pdf"></i>
            <a href="/views/report.html" class="side_item">Reporte</a>
        </div>
    </aside>
    <main>
        
    </main>
    <script src="/controller/carga.js"></script>
</body>
</html>