@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    font-size: 15px;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
  --color-principal: #184798;     
  --color-secundario: #89d2f4;    
  --color-cositas: #999999;     
}

::-webkit-scrollbar {
    display: none;
}

body{
    display: flex;
}

.sidebar{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    background-color: var(--color-principal);
    padding: 1rem 2rem;
    gap: 2rem;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
}

.sidebar .sideplace{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .5rem;
}

.sidebar .sideplace i{
    color: white;
    font-size: 22px;
}

.sidebar .side_item{
    color: white;
    position: relative;
}

.sidebar .side_item::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.4s ease-in-out;
}

.sidebar .side_item:hover::after{
    width: 100%;
}

